{% load static %}
<!-- All Script -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/simplebar.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/jquery.animatedheadline.min.js' %}"></script>
	<script src="{% static 'js/jquery.easypiechart.js' %}"></script>
	<script src="{% static 'js/jquery.validation.js' %}"></script>
	<script src="{% static 'js/tilt.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

	<script src="{% static 'setting/main-demo.js' %}"></script>
	<script src="{% static 'js/portfillo.js' %}"></script>